.App {
  text-align: center;
  min-height: 100vh;
  max-width: 1000px;
  margin: auto;
  background-color: #99a799;
}

/* green: #95cd41, red: #ea2c2b; */

/* UNIVERSAL */

.every-button {
  font-size: 1rem;
  padding: 4px 0;
  cursor: pointer;
  border: none;
  width: 100px;
  margin: 0 10px;
  border-radius: 5px;
}

/* HEADER */

#header-div {
  background-color: #f6d860;
  padding: 20px 0 15px;
}

#header-logo {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

#header-button-div {
  padding-top: 10px;
  width: 240px;
  margin: auto;
}

#find-button {
  background-color: #95cd41;
  color: #161616;
}

#create-button {
  background-color: #ea2c2b;
  color: #ffffed;
}

/* QUIZ LIST */

.category-selector {
  margin-top: 20px;
  background-color: #f6d860;
}

#quiz-list-div {
  padding: 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.single-quiz-div {
  width: 320px;
  margin: 10px auto;
}

.single-quiz-link {
  text-decoration: none;
  color: #161616;
}

/* SINGLE QUIZ */

.single-quiz-box {
  width: 300px;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffffed;
}

.single-quiz-box-title {
  font-size: 1.4rem;
}

.single-quiz-box-details {
  color: grey;
}
