.App {
  text-align: center;
  min-height: 100vh;
  background-color: #ffffed;
}

/* green: #95cd41, red: #ea2c2b; */

/* HEADER */

#header-div {
  background-color: #f6d860;
  padding: 20px 0 15px;
}

#header-logo {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.every-header-button {
  padding: 4px 0;
  cursor: pointer;
  border: none;
  width: 100px;
}

#header-split-whole {
  padding-top: 10px;
  width: 240px;
  margin: auto;
}

.header-split-half {
  display: inline;
  width: 100px;
  margin: 0 10px;
}

#categories-list-div {
  width: 100px;
  z-index: 1;
}

#main-category-button {
  background-color: #95cd41;
  color: #161616;
}

.category-list-button {
  background-color: #7eb5a6;
}

#create-button {
  background-color: #ea2c2b;
  color: #ffffed;
}
