.App {
  text-align: center;
  min-height: 100vh;
  margin: auto;
  padding-bottom: 5px;
  background-color: #5463ff;
  color: #121212;
}

/* UNIVERSAL */

.every-button {
  font-size: 1rem;
  padding: 4px 0;
  cursor: pointer;
  border: none;
  width: 100px;
  margin: 0 10px;
  border-radius: 2px;
  border: 1px #121212 solid;
}

.green-button {
  background-color: #95cd41;
  color: #121212;
}

.red-button {
  background-color: #ea2c2b;
  color: #ffffed;
}

/* HEADER */

#header-div {
  background-color: #f6d860;
  padding: 20px 0 15px;
}

#header-logo {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 2px #121212 solid;
}

#header-button-div {
  padding-top: 10px;
  width: 240px;
  margin: auto;
}

/* QUIZ LIST */

.category-selector {
  margin-top: 20px;
  width: 120px;
  background-color: #f6d860;
}

#quiz-list-div {
  padding: 10px;
  margin: auto;
}

.single-quiz-div {
  max-width: 600px;
  margin: 10px auto;
}

.single-quiz-link {
  text-decoration: none;
}

/* SINGLE QUIZ */

.single-quiz-box {
  margin: auto;
  border: 1px solid #121212;
  border-radius: 2px;
  background-color: #f6d860;
}

.single-quiz-box-title {
  font-size: 1.4rem;
  color: #121212;
}

.single-quiz-box-details {
  color: #444444;
}

/* PLAY QUIZ */

#play-quiz-page {
  margin: 10px;
}

#play-quiz-div {
  background-color: #ffffed;
  border-radius: 2px;
  margin: auto;
  max-width: 800px;
  padding: 10px;
}

#instructions-div {
  padding-bottom: 15px;
}

.end-percentages {
  margin: 5px;
  padding: 0;
}

#title-during-quiz {
  margin: 0 0 5px;
  padding: 0;
}

#current-score {
  display: inline;
  margin: 0;
  padding: 0;
}

#quiz-input {
  display: inline;
  height: 22px;
  border-radius: 2px;
  border: 1px solid #121212;
  width: 120px;
  margin: 0 10px;
}

#give-up-button {
  display: inline;
  margin: 0;
  width: 80px;
}

#quiz-questions-div {
  margin: 20px auto;
}

.quiz-whole-row {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #121212;
  width: 100%;
  margin: auto;
  max-width: 600px;
}

.quiz-half-row {
  width: 50%;
}

.quiz-box-text {
  padding: 3px;
  margin: 0;
}

.quiz-question-box {
  background-color: #f6d860;
}

.correct-answer-box {
  background-color: #95cd41;
}

.incorrect-answer-box {
  background-color: #ea2c2b;
  color: #ffffed;
}

/* CREATE QUIZ */

#build-quiz-page {
  padding: 10px;
}

#quiz-tips {
  padding: 10px;
  background-color: #ffffed;
  max-width: 800px;
  margin: auto;
  border-radius: 2px;
}

.input-labels {
  margin-bottom: 5px;
}

.details-inputs {
  width: 250px;
  background-color: #ffffed;
  border: #121212 solid 1px;
  border-radius: 2px;
}

.create-selector {
  width: 120px;
  background-color: #ffffed;
}

#instructions-div {
  max-width: 400px;
  margin: auto;
}

.instructions-inputs {
  margin: 4px;
}

#quiz-questions-div {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
}

.create-question-outer {
  margin: auto;
  width: 300px;
  border-radius: 2px;
  padding: 0 5px 5px;
}

.create-question-box {
  background-color: #f6d860;
  padding-bottom: 10px;
  border: #121212 solid 1px;
}

.accepted-input {
  margin: 4px auto;
  border: #121212 solid 1px;
}

.add-answer-button {
  background-color: #95cd41;
  margin: 5px auto;
  width: 125px;
  display: block;
}

.remove-button {
  background-color: #444444;
  color: #ffffed;
  margin-top: 10px;
  width: 150px;
}

.yellow-add-button {
  background-color: #f6d860;
  margin: 5px auto;
  width: 125px;
  display: block;
}

.create-button {
  width: 125px;
  margin: 10px 5px;
}

.create-errors {
  height: 20px;
  width: 250px;
  margin: 4px auto;
  background-color: #ea2c2b;
  border: #121212 solid 1px;
  color: #ffffed;
}

.red-selector {
  background-color: #ea2c2b;
  color: #ffffed;
}

.red-input {
  background-color: #ea2c2b;
  color: #ffffed;
}

.bottom-error {
  color: #ffffed;
  margin: 0 auto;
}

.quiz-preview-outer {
  margin: auto;
  padding: 10px;
}

.quiz-preview {
  background-color: #ffffed;
  border: 1px solid #121212;
  padding: 10px;
  margin: auto;
  border-radius: 2px;
  max-width: 600px;
}
